<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis ut aliquid, molestiae quaerat sunt ipsum aliquam! At consectetur, sed illo necessitatibus eligendi odio veritatis tenetur. Velit rem dolor pariatur doloribus?</p>
    </div>
</div>