.navbar{
    background: linear-gradient(rgb(24, 3, 138) 0%, #010738 100%);
    font-size: 17px;
    padding: 0;
    margin: 0;
 
}

.dropdown-menu{
    opacity:1;
    visibility:visible;
    background: #010738 ;
}

.navbar-brand{
    margin-left: 100px;
    font-size: 36px;
    font-family: 'Philosopher', sans-serif;
    color: white;
}

.container{
    margin-left: auto;
    text-align: center;
}

.nav-item{
    text-align: center;
}