<link rel="contact.component" href="contact.component.css" />
<h1>Nous contacter :</h1>
<h3>Si tu souhaite nous contacter pour un support technique, des questions ou des suggestions, ce formulaire est fait pour toi. </h3>

<form id="contact" method="post" action="envoi.php">
<p><label for="nom">Nom :      </label><input type="text" id="nom" name="nom" tabindex="1" /></p>
<p><label for="email">Email :  </label><input type="text" id="email" name="email" tabindex="2" /></p>
<p><label for="object">Object : </label><input type="text" id="object" name="object" tabindex="3" /></p>
<p><label for="message">Message : </label></p>
<p><textarea id="message" name="message" tabindex="4" cols="200" rows=20></textarea></p>
<div style="text-align:center;"><input type="submit" name="envoi" value=" Envoyer " /></div>
</form>
