agm-map{
    height:200px;
}

.modal-map{
    height:400px;
}


.photo{
    display: flex;
    justify-content: center;
    border-right:2px groove gray;
    
}

.preview {
    max-height: 300px;

}

.main-content{
    margin-top: 100px;
}

body{
    background-size: cover;
}

